---
layout: default
permalink: /
---

<h2>Posts</h2>

<ul aria-label="posts" style="list-style-type:none;padding:0;">
    {% for post in site.posts %}
    <li><small style="margin-right: 1rem">{{ post.date | date: "%F" }}</small><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>Notes</h2>

{% assign note = site.notes | sort: 'date' | last %}
<p><a href="{{ note.url }}">{{ note.date | date: "%A, %d %B %Y — %H:%M" }}</a></p>
{% if note.content %}
{{ note.content }}
{% endif %}

<ul aria-label="notes" style="list-style-type:none;padding:0;">
    {% assign notes = site.notes | sort: 'date' | reverse %}
    {% for note in notes %}
    <li><small style="margin-right: 1rem">{{ note.date | date: "%F" }}</small><a href="{{ note.url }}">{{ note.title | capitalize }}</a></li>
    {% endfor %}
</ul>

<h2>Now</h2>

<ol>
    <li>Preparing to walk <a href="https://www.teararoa.org.nz">Te Araroa ↗</a>, a 3,000 km trail in New Zealand</li>
    <li>House + pet sitting full-time, while working remotely</li>
    <li>Running</li>
</ol>

<h2>Elsewhere</h2>

<ul style="list-style-type:none;padding:0;">
    <li><a href="https://ta-sobo.gerhardla.nz">Newsletter</a>
    <li><a href="https://github.com/gerhardlanz/pgp">Public key ↗</a>
    <li><a href="https://open.spotify.com/user/31dtn4ushuiw5xbo55ysvb3wqzxy">Spotify ↗</a></li>
    <li><a href="https://github.com/gerhardlanz">GitHub ↗</a>
    <li><a href="mailto:me@gerhardla.nz">Email</a>
    <li><a rel="alternate" type="application/rss+xml" href="{{ 'feed.xml' }}">RSS</a></li>
</ul>