---
layout: default
---

<small>
    <a href="/">← Back</a>
</small>

<h1>{{ page.title }}</h1>

<p>
    <small>
        Published {{ page.date | date: "%Y-%m-%d" }} •
        {% assign words = content | number_of_words %} {{ words }} words •
        {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} read
    </small>
</p>

<p>
    {{ content }}
    ∎
</p>

<p>
    <small>
        <a href="mailto:me@gerhardla.nz?subject={{ site.url }}{{ page.url }}">Reply by email ↗</a>
    </small>
</p>